/raycast
/simple-update-notifier
/iterm2
/htop
/configstore
/nvim/tags
/nvim/test.sh
/nvim/.luarc.json
/nvim

/nvim/spell/
/nvim/lazy-lock.json
__nvim
/psysh

/simple-update-notifier
/raycast
/iterm2
/htop
/fish
/configstore

.DS_Store